@import "normalize";
@import "reset";

@import "variables";
@import "fonts";






// Common
.box {
  background: $color-green-background;
  width: 30%;
  margin: 0 auto;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  a {
    font-family: 'BrownPro-Bold', Arial, sans-serif;
  }

  @media screen and (max-width: 650px) {
    width: 100%!important;
    box-sizing: border-box;
  }
}

body {
  overflow-x: hidden;

  &.is-scrolled {
    header {
      position: fixed;
      transform: translateY(0);
    }
  }
}


.main {
  padding-top: 40px;

  @media screen and (max-width: 650px) {
    padding-top: 0;
  }
}

section {
  padding: 5% 0;
  position: relative;
  padding: 100px 20%;
  min-height: 700px;
  margin-bottom: 150px;

  @media screen and (max-width: 950px) {
    margin-bottom: 0px;
    padding: 70px 20%;
  }

  @media screen and (max-width: 650px) {
    min-height: auto;
    padding: 100px 20%;
    margin-bottom: 150px;
  }
}

// Header
header {
  overflow: hidden;
  width: 100%;
  z-index: 100;
  height: 50px;
  background: white;
  transform: translateY(50px);
  position: absolute;

  @media screen and (max-width: 650px) {
    position: fixed;
  }

  @media screen and (max-width: 650px) {
    transform: translateY(0);
  }

  .hamburguer {
    width: 30px;
    height: 30px;
    background: url(../img/hamburguer.svg) no-repeat;
    position: absolute;
    top: 17px;
    left: 19px;
    display: none;
    z-index: 600;

    @media screen and (max-width: 950px) {
      display: block;
    }
  }
  nav {
    transform: translate(40px);

    @media screen and (max-width: 950px) {
      transform: translate(0);
    }

    ul {
      list-style: none;
      text-align: center;
      margin-top: 6px;
      li {
        display: inline-block;
        margin: 0 2%;

        @media screen and (max-width: 950px) {
          display: none;
        }

        &.logo {
          transform: translateY(8px);

          @media screen and (max-width: 950px) {
            display: inline-block;
          }

          a {
            font-size: 37px;
            font-family: "BrownPro-Bold";
          }
        }

        &.rsvp {

          background: $color-light-pink-2-background;
          padding: 2px 14px;

          @media screen and (max-width: 950px) {
            display: inline-block;
            right: 10px;
            position: absolute;
            top: 5px;
          }
        }

        a {
          font-size: 12px;
          text-decoration: none;
        }
      }
    }
  }
}

footer {
  text-align: center;
  padding: 50px 0;

  span {
    margin: 0 8px 0 4px;
  }

  small {
    display: block;
  }
}

// Mobile Nav {
.mobile-nav {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
  z-index: 500;
  padding: 5%;

  ul {
    list-style: none;

    li {

      &.logo a {
        font-size: 24px;
        line-height: 50px;
      }

      a {
        font-size: 18px;
        line-height: 37px;
        color: #213d33;
      }
    }
  }
}

body[data-ismobilenavopen = 'true'] {
  overflow: hidden;

  .mobile-nav {
    display: block;
  }
}


// Intro
.intro {
  @media screen and (max-width: 650px) {
    min-height: 600px;
  }
  h2 {
    line-height: 54px;
    border: none;
    margin: 0;
    margin-bottom: 15px;
  }
  .box1 {
    width: 250px;
    height: 310px;
    text-align: center;
    left: -290px;
    top: -250px;
    padding: 3% 2%;

    @media screen and (max-width: 650px) {
      height: 400px;
      text-align: center;
      left: auto;
      right: 0;
      top: 180px;
      padding: 30px;
      width: 80%!important;
      margin: 0;
    }
  }
  .box2 {
    width: 424px;
    height: 588px;
    background: url(../img/plants.jpg) no-repeat;
    background-size: cover;
    top: 40px;
    left: 150px;

    @media screen and (max-width: 650px) {
      top: -200px;
      left: 0;
    }
  }
  .box3 {
    width: 328px;
    height: 320px;
    background: $color-green-text;
    top: 350px;
    left: -170px;

    @media screen and (max-width: 650px) {
      top: 160px;
    }
  }
}

// Whene
.when {
  .box1 {
    width: 430px;
    padding: 40px 60px;
    height: 630px;
    background: linear-gradient(to right, $color-green-background 0%, white 100%);

    @media screen and (max-width: 650px) {
      padding: 40px;
    }
  }
}

// Where
.where {
  .box1 {
    width: 260px;
    height: 340px;
    padding: 4% 5%;
    left: -290px;
    top: -250px;
    background: $color-light-pink-background;

    @media screen and (max-width: 650px) {
      width: 70%!important;
      bottom: auto;
      left: -80px;
      top: -90px;
      height: auto;
    }
  }
  .box2 {
    width: 300px;
    height: 300px;
    background: url(../img/canmateu.jpg) no-repeat;
    background-size: cover;
    top: -150px;
    left: 270px;

    @media screen and (max-width: 650px) {
      left: 0;
    }
  }
  .box3 {
    width: 388px;
    height: 282px;
    background: #175032;
    background: url(../img/canmateu-green.jpg) no-repeat;
    background-size: cover;
    top: 350px;
    left: 0px;
  }
}

// Transportation
.transportation {
  @media screen and (max-width: 950px) {
    margin-bottom: 150px;
  }
  @media screen and (max-width: 650px) {
    min-height: auto;
    padding: 0;
  }
  h2 {
    border: none;
    span {
      border-bottom: 1px solid $color-green-text;
      display: block;
    }
  }
  .box1 {
    width: 430px;
    padding: 40px 60px;
    height: 880px;
    background: $color-light-pink-2-background;
    top: 0px;
    left: 50px;

    @media screen and (max-width: 650px) {
      position: relative;
      padding: 40px;
      left: 0;
      height: auto;
      top: 130px;
      bottom: auto;
    }
  }
  .box2 {
    width: 455px;
    padding: 40px 60px;
    height: 900px;
    background: #fbf2ee;
    top: -27px;
    left: 24px;

    @media screen and (max-width: 650px) {
      top: 200px;
      left: 0;
    }
  }
}


// What to do in the area
.explore {
  min-height: 1000px;

  @media screen and (max-width: 650px) {
    padding: 0;
    min-height: auto;
    margin-bottom: 50px;

    img {
      width: 100%;
    }
  }

  .box1 {
    width: 650px;
    padding: 30px;
    height: auto;
    background: $color-light-pink-2-background;
    top: 0px;
    left: 50px;

    h2 {
      border: none;
      span {
        border-bottom: 1px solid $color-green-text;
        display: block;
      }
    }

    @media screen and (max-width: 650px) {
      position: relative;
      height: auto;
      left: 0;
    }
  }
}

// Accommodation
.accommodations {
  min-height: 1000px;

  img {
    width: 100%;
    margin-top: 50px;
  }

  @media screen and (max-width: 650px) {
    min-height: auto;
    padding: 0;
    margin-bottom: 0;
  }
  .box1 {
    width: 430px;
    padding: 40px 60px;
    height: 880px;
    background: linear-gradient(to left, $color-green-background 0%, white 100%);
    top: 0px;
    left: 50px;

    @media screen and (max-width: 650px) {
      padding: 40px;
      left: 0;
      position: relative;
      height: auto;

      h2 {
        text-align: left;
        margin-left: -20px;
      }
    }
  }
}

